/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------- */

* p,
li,
h1,
label,
a {
  font-weight: 400;
  font-size: 18px;
}

.activity_one,
.activity_two,
.activity_three,
.rule,
.activity_four,
.activity_five,
.activity_six,
.activity_seven {
  padding-bottom: 20px;
}

/* ---------------------------------------------------- */

:root {
  --max-width: 720px;
  --max-width_content: 680px;
  --color_p: #fff;
  --background-color: #f0cd4d;
  --margin-left: auto;
  --margin-right: auto;
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --flex-wrap: wrap;
  --font-size_h1: 26px;
}

/* ---------------------------------------------------- */
body {
  max-width: 720px;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  background-color: var(--color_p);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Segoe UI, Arial, Roboto, "PingFang SC", miui, "Hiragino Sans GB",
    "Microsoft Yahei", sans-serif;
}

body:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: -70px;
  left: 0;
  opacity: .5;
  background: url(../images/basemap.png);
  background-size: auto;
  z-index: -99999999;
}

/* ---------------------------------------------------- */

/* Loding */
section {
  min-height: 100vh
}

section h1 {
  margin: 0 0 30px;
  width: 100%;
  font-size: 40px;
  font-weight: 400;
  color: #FFF
}

section a {
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #FFF;
  border-radius: 100px;
  color: #FFF;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s
}

section a:focus,
section a:hover {
  background: #FFF;
  color: #0AC2D2
}

@media(min-width:768px) {
  section h1 {
      font-size: 60px
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f0cd4d;
}

.dots .dot {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border-radius: 50%;
  background: #FFF;
  -webkit-animation: dot-dot-dot 1.4s linear infinite;
  animation: dot-dot-dot 1.4s linear infinite
}

.dots .dot:nth-child(2) {
  animation-delay: .2s
}

.dots .dot:nth-child(3) {
  animation-delay: .4s
}

@keyframes dot-dot-dot {

  0%,
  100%,
  60% {
      -webkit-transform: initial;
      -ms-transform: initial;
      transform: initial  ;
      -moz-transform: initial;
      -o-transform: initial;
}

  30% {
      -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
      transform: translateY(-25px)  ;
      -moz-transform: translateY(-25px);
      -o-transform: translateY(-25px);
}
}

.dynamic {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999;
}

.dynamic_content {
  margin: 0 auto;
}

.dynamic_logo {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dynamic_logo svg {
  width: 90%;
  overflow: hidden;
}

.cls-15 {
  stroke: #fff;
  stroke-dasharray: 1900;
  stroke-dashoffset: 1800;
  stroke-width: 2px;
  animation: 4s cls_15 infinite;
  -webkit-animation: 4s cls_15 infinite;
}

@keyframes cls_15 {
  0% {
    stroke-dashoffset: 1900;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.cls-16 {
  stroke: #fff;
  stroke-dasharray: 1900;
  stroke-dashoffset: 1800;
  stroke-width: 2px;
  animation: 4s cls_16 infinite;
  -webkit-animation: 4s cls_16 infinite;
}

@keyframes cls_16 {
  0% {
    stroke-dashoffset: 1900;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.cls-17 {
  stroke: #fff;
  stroke-dasharray: 1900;
  stroke-dashoffset: 1800;
  stroke-width: 2px;
  animation: 4s cls_17 infinite;
  -webkit-animation: 4s cls_17 infinite;
}

@keyframes cls_17 {
  0% {
    stroke-dashoffset: 1900;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.cls-18 {
  stroke: #fff;
  stroke-dasharray: 1900;
  stroke-dashoffset: 1800;
  stroke-width: 2px;
  animation: 4s cls_18 infinite;
  -webkit-animation: 4s cls_18 infinite;
}

@keyframes cls_18 {
  0% {
    stroke-dashoffset: 1900;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.cls-8 {
  animation: 4s cls_8 ease-in infinite;
  -webkit-animation: 4s cls_8 ease-in infinite;
}

@keyframes cls_8 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.cls-10 {
  stroke-dasharray: 1900;
  stroke-dashoffset: 1800;
  stroke-width: 2px;
  animation: 4s cls_10 ease-in infinite;
  -webkit-animation: 4s cls_10 ease-in infinite;
}

@keyframes cls_10 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.cls-12 {
  animation: 4s cls_12 ease-in infinite;
  -webkit-animation: 4s cls_12 ease-in infinite;
}

@keyframes cls_12 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.cls-14 {
  animation: 4s cls_14 ease-in infinite;
  -webkit-animation: 4s cls_14 ease-in infinite;
}

@keyframes cls_14 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------------------------------------- */

/* header */
.header {
  position: relative;
  max-width: 720px;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  z-index: 999999999;
}

.header_content {
  position: relative;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  display: var(--display);
  justify-content: space-around;
  align-items: var(--align-items);
  background-color: var(--background-color);
  padding: 20px 0;
}

/* .replace {
  position: fixed;
  width: 100%;
} */

.logo {
  width: 100%;
  position: relative;
  z-index: 99;
  margin-left: 20px;
}

.logo_content {
  margin: 0 auto;
  display: var(--display);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
}

.logo_img {
  position: relative;
}

.logo_img_content {
  margin: 0 auto;
}

.logo_img_content a {
  display: inline-block;
}

.logo_img_content a img {
  width: 100%;
  height: auto;
}

.header_buttom {
  position: relative;
}

.header_buttom_content {
  margin: 0 auto;
  display: var(--display);
}

.download {
  position: relative;
  margin-left: 20px;
}

.download_content {
  margin: 0 auto;
}

.download_content a {
  display: inline-block;
}

.download_content a img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 720px) {
  .snazzymenu .menu-toggle.active {
    top: 0;
  }

  .snazzymenu.mobile .menu {
    margin-top: 70px;
    margin-bottom: 120px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid #fff;
  }
}

@media screen and (max-width: 500px) {
  .header_content {
    padding: 12px 0;
  }

  .header_buttom {
    padding: 10px 0;
  }

  .header_buttom_content {
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
  }

  .header_buttom_content .header_rwd_teaching {
    margin-right: 0;
    margin-left: 0;
    width: 60%;
  }

  .header_rwd_game {
    width: 20%;
    margin-right: 0;
  }

  .logo_content {
    flex-wrap: var(--flex-wrap);
  }

  .logo {
    margin-left: 0;
  }

  .logo_img_content {
    text-align: center;
  }

  .logo_img_content a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo_img_content a img {
    width: 30%;
  }

  .logo_img {
    width: 100%;
  }

  .download {
    margin-left: 0;
    margin-right: 0;
    width: 60%;
    padding: 0 0 6px 0;
  }

  .download_content a {
    display: flex;
    align-items: center;
    justify-content: centers;
  }

  .download_content a img {
    width: 100%;
  }

}

/* ---------------------------------------------------- */

.banner {
  position: relative;
}

.banner_content {
  max-width: var(--max-width);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  overflow: hidden;
}

.header_rwd_teaching {
  position: relative;
  margin-right: 20px;
  margin-left: 8px;
}

.header_rwd_teaching_content {
  margin: 0 auto;
}

.header_rwd_teaching_content a {
  display: inline-block;
}

.header_rwd_teaching_content a img {
  width: 100%;
  height: auto;
}

.header_rwd_game {
  position: relative;
  margin-right: 20px;
}

.header_rwd_game_content {
  margin: 0 auto;
}

.header_rwd_game_content a {
  display: inline-block;
}

.header_rwd_game_content a img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .header_rwd_game {
    margin-right: 0;
  }

  .header_rwd_game_content {
    display: flex;
    justify-content: center;
  }

  .header_rwd_game_content a {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_rwd_teaching_content a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ---------------------------------------------------- */

/* serve */
.serve {
  position: relative;
}

.serve_content {
  max-width: var(--max-width);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  padding: 20px 0;
}

.serve_content ul {
  width: 80%;
  display: var(--display);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  justify-content: var(--justify-content);
  flex-wrap: var(--flex-wrap);
}

.serve_content ul li {
  width: 100%;
  display: var(--display);
}

.serve_text {
  display: var(--display);
  align-items: var(--align-items);
}

.serve_text p {
  margin-left: 20px;
  color: #000;
  font-weight: 900;
}

@media screen and (max-width: 545px) {
  .serve_content ul li {
    width: 100%;
  }
}

/* ---------------------------------------------------- */

/* product */
.product {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 20px;
}

.product_content {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: var(--margin-right);
}

/* ---------------------------------------------------- */

/* film */
.film {
  position: relative;
}

.film_content {
  max-width: var(--max-width);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.film_title {
  position: relative;
}

.film_title_content {
  margin: 0 auto;
  display: var(--display);
  justify-content: var(--justify-content);
}

.film_title_content img {
  width: 70%;
  height: auto;
}

.film_content_text {
  position: relative;
  padding: 70px 0;
}

.film_content_text_content {
  margin: 0 auto;
  display: var(--display);
  justify-content: var(--justify-content);
}

.more {
  position: relative;
}

.more_content {
  margin: 0 auto;
  display: var(--display);
  justify-content: var(--align-items);
}

.more_content a {
  width: 40%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 16px 0;
  background-color: #000;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.more_content a:hover {
  background-color: var(--background-color);
  color: #000;
}

/* ---------------------------------------------------- */

/* activity */

.activity {
  position: relative;
  padding: 40px 0;
}

.activity_content {
  max-width: var(--max-width);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.activity_title {
  position: relative;
}

.activity_title_content {
  margin: 0 auto;
  display: var(--display);
  justify-items: var(--justify-content);
}

.hs__wrapper {
  max-width: var(--max-width);
  padding: 60px 0 60px 0;
  overflow-x: hidden;
}

.activity_title_content img {
  width: 70%;
  height: auto;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.activity_text {
  position: relative;
}

.activity_text_content {
  margin: 0 auto;
}

.activity_more {
  position: relative;
}

.activity_more_content {
  margin: 0 auto;
  display: var(--display);
  justify-content: var(--align-items);
}

.activity_more_content a {
 width: 40%;
 color: #fff;
 text-align: center;
 text-decoration: none;
 padding: 16px 0;
 background-color: #000;
 border-radius: 50px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
 transition: .5s ease-in-out;
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -ms-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
}

.activity_more_content a:hover {
  background-color: var(--background-color);
  color: #000;
}

@media screen and (max-width: 500px) {
  .hs__wrapper {
    padding: 16px 0;
  }
}

/* ---------------------------------------------------- */

/* footer */
.footer {
  position: relative;
}

.footer_content {
  max-width: var(--max-width);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  display: var(--display);
  justify-content: var(--align-items);
  flex-wrap: var(--flex-wrap);
  padding: 60px 20px 60px 20px;
}

.footer_text {
  position: relative;
}

.footer_text_content {
  margin: 0 auto;
}

.About_us {
  position: relative;
}

.About_us_content {
  margin: 0 auto;
}

.About_us_content h1 {
  font-size: 30px;
  font-weight: 900;
  color: #000;
}

.About_us_content p {
  font-size: 18px;
  font-weight: 500;
  padding-top: 30px;
  color: #000;
  line-height: 2;
}

.Cooperation {
  position: relative;
  padding-top: 60px;
}

.Cooperation_content {
  margin: 0 auto;
}

.Cooperation_content h1 {
  font-size: 30px;
  font-weight: 900;
  color: #000;
}

.Cooperation_content ul {
  margin-top: 30px;
  display: var(--display);
  justify-content: var(--justify-content);
  flex-wrap: var(--flex-wrap);
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.Cooperation_content ul li {
  width: 42%;
  margin: 0 16px;
  display: var(--display);
  align-items: var(--align-items);
}

.Cooperation_content ul li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 556px) {
  .Cooperation_content ul {
    justify-content: left;
  }

  .Cooperation_content ul li {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

/* ---------------------------------------------------- */

/* community */
.community {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 720px;
  background-color: var(--background-color);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.community_content {
  margin: 0 auto;
  width: 100%;
}

.community_content ul {
  width: 720px;
  display: var(--display);
  justify-content: var(--justify-content);
  flex-wrap: var(--flex-wrap);
  box-shadow: 0px -2px 2px 2px rgb(0 0 0 / 26%);
}

.community_content ul li {
  margin: 8px;
  text-align: center;
  padding: 10px 0;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.community_content ul li a {
  display: inline-block;
}

.community_content ul li:nth-child(6) {
  border: none;
}

.community_content ul li a img {
  width: 70%;
  height: auto;
}

@media screen and (max-width: 720px) {
  .community_content ul {
    width: 100%;
  }
}





































