/*www.oguzhansengul.com*/
#rcbrandDemo1,
#rcbrandDemo2,
#rcbrandDemo3 {
  display: none;
}

.rc-rcbrand-container {
  position: relative;
  max-width: 100%;
}
.rc-rcbrand-ul {
  position: relative;
  width: 99999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  overflow: auto;
}

.rc-rcbrand-inner {
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.rc-rcbrand-item {
  float: left;
  margin: 0 10px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  line-height: 0px;
}
.rc-rcbrand-item img {
  max-width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rc-rcbrand-nav-left,
.rc-rcbrand-nav-right {
 padding: 5px 10px;
 position: absolute;
 cursor: pointer;
 z-index: 4;
 top: 50%;
 transform: translateY(-50%);
 background: rgba(0, 0, 0, 0.762);
 color: #fff;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
}

.rc-rcbrand-nav-left {
  left: 0px;
}

.rc-rcbrand-nav-left:before {
  content: "<";
  font-size: 33px;
  font-family: cursive;
}

.rc-rcbrand-nav-left.disabled {
  opacity: 0.4;
}

.rc-rcbrand-nav-right {
  right: 0px;
}

.rc-rcbrand-nav-right:before {
  content: ">";
  font-size: 33px;
  font-family: cursive;
}

.rc-rcbrand-nav-right.disabled {
  opacity: 0.4;
}

@media screen and (max-width: 720px) {
  .rc-rcbrand-item img {
    width: 60%;
  }

  .rc-rcbrand-item {
    margin: 0;
  }
}